@media only screen and (min-width: 65rem) {
  /***************************************************************************/
  /* Main                                                                    */
  /***************************************************************************/

  header {
    display: grid;
    grid-template-columns: 75px 300px 1fr 35px 35px;
    grid-template-rows: 40px 40px 1fr;
    text-align: left;
    align-items: center;
    padding: 10px;
    background-color: white;
  }

  header .logo {
    grid-row: 1/3;
  }

  header img {
    width: 100%;
    height: auto;
  }

  header h1 {
    grid-column: 2/3;
    font-size: 1.6rem;
    padding-left: 0.75rem;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #0c4767ff;
  }

  header nav {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  header a {
    font-size: 1.2rem;
    color: #0c4767ff;
  }

  header #link1 {
    grid-column: 4/5;
    margin-top: 10px;
    padding: 5px;
  }

  header #link2 {
    grid-column: 5/6;
    margin-top: 10px;
    padding: 5px;
  }

  header h2 {
    grid-column: 2/8;
    margin-top: -22px;
    font-size: 1.2rem;
    padding-left: 1rem;
    color: #fa7921ff;
  }

  header #menu {
    display: none;
  }

  /***************************************************************************/
  /* Main                                                                    */
  /***************************************************************************/

  main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  main .events {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px 0 0 30px;
    text-align: center;
  }

  main .hero {
    grid-column: 2/4;
    grid-row: 1/3;
    margin: 10px 10px 0 10px;
    max-height: 45rem;
  }

  main .spotlights {
    grid-column: 4/5;
    grid-row: 1/4;
    margin: 10px 30px 20px 0;
  }

  main .weather {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 10px 0 0 30px;
  }

  main .join {
    display: block;
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 10px 0 20px 30px;
    text-align: center;
  }

  main .join .join-us-button {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 30px;
    background-color: #fa7921;
    border-radius: 10px;
  }
  main .join .join-us-button a {
    color: white;
  }

  main .join p {
    font-size: 1rem;
    margin: 25px 10px 10px 10px;
    color: white;
  }

  main .news {
    grid-column: 2/4;
    grid-row: 3/4;
    margin: 10px 10px 20px 10px;
  }

  main .spotlights {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid #757575;
    font-size: 1rem;
  }

  main .spotlights {
    background-color: #fe9920;
  }

  main .spotlight1 {
    grid-column: 1/2;
    grid-row: 1/2;
    min-height: 10rem;
    border: 1px solid #757575;
    margin: 10px 10px 10px 10px;
    padding: 10px;
  }

  main .spotlight2 {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid #757575;
    margin: 0 10px 10px 10px;
    padding: 10px;
  }

  main .spotlight3 {
    display: block;
    grid-column: 1/2;
    grid-row: 3/4;
    border: 1px solid #757575;
    margin: 0 10px 10px 10px;
    padding: 10px;
  }

  /***************************************************************************/
  /* Footer                                                                  */
  /***************************************************************************/

  footer h1 {
    font-size: 1.8rem;
  }

  footer h2 {
    font-size: 1.4rem;
  }

  footer address {
    font-size: 1.4rem;
  }

  footer #info {
    font-size: 1.4rem;
  }

  footer #subfooter {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  #last-line {
    display: inline-block;
  }

  .last-divider {
    display: inline;
  }

  /***************************************************************************/
  /* Discover Page                                                           */
  /***************************************************************************/

  /* .page-container {
    display: grid;
    grid-template-columns: 450px 1fr;
  }

  .image-list {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 30%;
    gap: 5px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
  }

  .image-card {
    max-width: 100%;
    border: 1px solid darkgray;
    padding: 0 20px 20px 20px;
    background-color: #0c4767;
  }

  .image-card:hover {
    background-color: #fa7921;
  }

  .demographics h2 {
    margin: 40px 0 20px 0;
  }

  .demographics p {
    margin-right: 40px;
  } */

  /***************************************************************************/
  /* Directory Page                                                          */
  /***************************************************************************/

  /* main h2 {
    margin-left: 10px;
  }

  main #grid img,
  #list img {
    width: 50px;
    padding: 5px;
    border: 1px solid gray;
  }

  main .subheader {
    display: grid;
    grid-template-columns: 400px 1fr 60px 60px;
  }

  main #grid {
    grid-column: 3/4;
  }

  main #list {
    grid-column: 4/5;
  } */

  /***************************************************************************/
  /* Directory Page - Card Formats (card and list)                           */
  /***************************************************************************/

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }

  .lists {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }

  .list-type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    border: 1px solid darkgray;
    padding: 0 20px 20px 20px;
    background-color: #0c4767;
  }

  .card-type {
    max-width: 100%;
    border: 1px solid darkgray;
    padding: 0 20px 20px 20px;
    background-color: #0c4767;
  }

  section h2 {
    margin-top: 5px;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  section p {
    font-size: 1rem;
    color: white;
    margin: 10px;
  }

  .card-logo-show {
    margin-top: 10px;
    max-width: 100%;
    border: 1px solid black;
  }

  .card-logo-hide {
    display: none;
  }
}
