@media only screen and (min-width: 45rem) {
  /***************************************************************************/
  /* Header                                                                  */
  /***************************************************************************/

  header {
    display: grid;
    grid-template-columns: 75px 1fr 35px 35px 150px;
    grid-template-rows: 40px 40px 1fr;
    text-align: left;
    align-items: center;
    padding: 10px;
    background-color: white;
  }

  header h1 {
    font-size: 1.6rem;
  }

  header h2 {
    font-size: 1.2rem;
  }

  header #menu {
    justify-self: end;
  }

  /***************************************************************************/
  /* Main                                                                    */
  /***************************************************************************/

  main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  main .hero {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 10px 10px 0 10px;
    max-height: 20rem;
  }

  main .news {
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 10px 10px 0 10px;
  }

  main .spotlights {
    grid-column: 1/4;
    grid-row: 3/4;
    margin: 10px 10px 0 10px;
  }

  main .join {
    display: block;
    grid-column: 1/4;
    grid-row: 4/5;
    margin: 10px 10px 0 10px;
    text-align: center;
  }

  main .join .join-us-button {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px;
    padding: 30px;
    background-color: #fa7921;
    border-radius: 10px;
  }

  main .join .join-us-button a {
    color: white;
  }

  main .join p {
    font-size: 1.8rem;
    margin: 25px 10px 10px 10px;
    color: white;
  }

  main .events {
    grid-column: 1/3;
    grid-row: 5/6;
    margin: 10px 10px 0 10px;
  }

  main .weather {
    grid-column: 3/4;
    grid-row: 5/6;
    margin: 10px 10px 0 0;
  }

  main .spotlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 15rem;
    border: 1px solid #757575;
    font-size: 1rem;
  }

  main .spotlights {
    background-color: #fe9920;
  }

  main .spotlight1 {
    grid-column: 1/2;
    min-height: 10rem;
    border: 1px solid #757575;
    margin: 10px 5px 10px 10px;
    padding: 10px;
  }

  main .spotlight2 {
    grid-column: 2/3;
    margin: 10px 10px 10px 5px;
    padding: 10px;
  }

  /***************************************************************************/
  /* Footer                                                                  */
  /***************************************************************************/

  footer {
    display: grid;
    grid-template-columns: 170px 1fr 1fr;
    grid-template-rows: 10px 60px 60px 60px 10px 1fr;
  }

  footer #top-line {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  footer #logo {
    grid-column: 1/2;
    grid-row: 2/5;
    align-items: center;
    justify-items: center;
  }

  footer #logo-img {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  footer h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.6rem;
    text-align: left;
    align-self: end;
    color: #0c4767ff;
  }

  footer h2 {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 1.2rem;
    text-align: left;
    align-self: start;
    padding-left: 20px;
    color: #fa7921ff;
  }

  footer #info {
    grid-column: 3/4;
    grid-row: 2/5;
    align-self: center;
  }
  footer address {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: left;
    align-self: start;
    padding-left: 45px;
    margin: -30px;
  }

  footer #bottom-line {
    grid-column: 1/4;
    grid-row: 5/6;
    border-top: 1px solid #0c4767ff;
    margin: 10px;
  }

  footer #subfooter {
    grid-column: 1/4;
    grid-row: 6/7;
    margin-top: 10px;
  }

  footer #marker {
    display: block;
  }

  footer #marker-img {
    display: inline-block;
    margin-top: 15px;
    width: 35px;
  }

  footer #subfooter {
    font-size: 0.9rem;
  }

  footer #subfooter p {
    margin-bottom: 0.2rem;
  }

  footer #subfooter p {
    display: inline-block;
  }

  .divider {
    display: inline;
  }

  #last-line {
    display: block;
  }

  .last-divider {
    display: none;
  }
}
